.container {
    .content {
        flex-direction: column;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        text-align: center;
        justify-content: space-around;
        .reader-name {
            font-size: .7rem;
        }
        .decoded {
            font-size: 1rem;
        }
        .reader {
            canvas {
                display: none;
            }
        }
    }
}