<div class="container">
  <div class="content">
    <div class="reader-name">Selected Library: {{SelectedLibraryName}}</div>
    <div class="decoded">{{DecodedValue}}</div>
    <div class="reader">
      <video #qrCodeVideo autoplay playsinline></video>
      <canvas #qrCodeCanvas></canvas>
    </div>
    <div class="error" *ngIf="!IsScannerAvailable">Scanner is not available :(</div>
  </div>
</div>