<div class="header row">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="col-2">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="scanner/jsqr">
      <mat-icon>speaker_phone</mat-icon>
      <span>jsQR</span>
    </button>
    <button mat-menu-item routerLink="scanner/jsqrcode">
      <mat-icon>speaker_phone</mat-icon>
      <span>JSQRCode</span>
    </button>
    <button mat-menu-item routerLink="scanner/zxing">
      <mat-icon>speaker_phone</mat-icon>
      <span>ZXING</span>
    </button>
    <button mat-menu-item routerLink="scanner/other">
      <mat-icon>speaker_phone</mat-icon>
      <span>Other</span>
    </button>
    <button mat-menu-item routerLink="">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
  </mat-menu>
  <div class="header-title">
    {{Title}}
  </div>
</div>