@import "../colors.scss";

.header{
    background-color: $color1;
    display: flex;
    align-content: center;
    .header-title {
        display: inline-block;
        line-height: 40px;
        text-align: right;
        font-size: 1.5rem;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        margin-left: auto;
        margin-right: 1rem;
    }
}