.container {
    .content {
        .welcome-msg {
            font-size: 2rem;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            text-align: center;
        }
    }
}