@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.container {
    margin: 0 1.2rem;
    height: calc(100vh - 40px);
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
}